#tag_editor {
    z-index: 1;
    position: absolute;
    left: 25px;
    top: 25px;

    background: #152f56;
    border-radius: 6px;

    box-shadow: 2px 2px black, -2px -2px black, -2px 0px black, 2px 0px black;
}

.tag-editor-content {
    display: flex;
    flex-direction: row;
}

.tag-editor-left-column {
    max-width: 50%;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.tag-editor-tag-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 70%;

    overflow-y: auto;
}

.tag-editor-tag-match {
    background-color: black;
}

.tag-editor-tag-list > ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
}

.tag-editor-input {
    flex-grow: 2;
}

.tag-editor-post {
    text-align: right;
    padding-right: 5px;

    display: flex;
    align-items: center;
}

.tag-editor-snippet {
    position: absolute;
    padding: 5px 5px 5px 5px;
    max-height: 30%;
    width: 40%;
    background: #151f46;

    overflow-y: scroll;
}

.tag-editor-snippet > span > pre {
    white-space: pre-wrap;
}

.tag-editor-edit-message {
    background-color: rgba(255,255,255,.2);
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    overflow: auto;
    white-space: pre-wrap;
}

.tag-editor-right-column {
    max-width: 50%;
    margin: auto auto auto auto;
    flex-grow: 1;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tag-editor-post > img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.tag-editor-post > video {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.tag-editor-tag-input {
    width: 25em;
    height: 2em;
}

.tag-editor-tag-category {
    font-weight: bold;
    list-style: none;
    margin-left: -0.5em;
}

.tag-editor-tag-new {
    color: green;
    font-weight: bold;
}

.tag-editor-tag-item {
    list-style: none;
}

.tag-editor-tag-item-remove {
    color: red !important;
    font-weight: bold;
}

.tag-editor-tag-item-add {
    color: green !important;
    font-weight: bold;
}

.tag-editor-tag-item-divider {
    width: 0.2em;
}

.tag-editor-question-category {
    text-decoration: underline;
}

.tag-editor-question-answered {
    color: green;
}

.tag-editor-question-unanswered {
    color: red;
}

.tag-editor-type-artist {
    color: #f2ac08 !important;
}

.tag-editor-type-character {
    color: #0a0 !important;
}

.tag-editor-type-copyright {
    color: #d0d !important;
}

.tag-editor-type-species {
    color: #ed5d1f !important;
}

.tag-editor-autocomplete-item > li > div {
    color: black !important;
}

.tag-editor-dialog > ul > li {
    color: black;
}

.tag-editor-dialog p, .tag-editor-dialog h1, .tag-editor-dialog h2, .tag-editor-dialog h3, .tag-editor-dialog h4, .tag-editor-dialog ul, .tag-editor-dialog li   {
    color: black;
}

.tag-editor-dialog a {
    color: blue;
}

.tag-editor-dialog .section p {
    color: white;
}

.tag-editor-dialog .section a {
    color: cyan;
}

.tag-editor-save-tag-list {
    max-height: 10em;
    overflow-y: auto;
}

/* jQuery UI specific */
.no-close .ui-dialog-titlebar-close {
  display: none;
}
