<div id="tag_editor">
    <div class="tag-editor-header">
        <h3>
            <a target="_blank" href="https://racktracker.gitlab.io/e621-tag-editor-plus">e621 Tag Editor Plus</a> - by <a target="_blank" href="https://e621.net/user/show/154756">RackTracker</a>
            | <a href="#" v-on:click="openDialog('settings')">Settings</a>
            | <a href="#" v-on:click="openDialog('help')">Help</a>
            | <a href="#" v-on:click="openDialog('about')">About</a>
            | <a href="#" v-on:click="closeEditor()">X</a>
        </h3>
    </div>
    <div class="tag-editor-content">
        <div class="tag-editor-left-column">
            <div id="tag_editor_tag_list" class="tag-editor-tag-list">
                <ul :key="lastQuery">
                    <!-- Tags -->
                    <span>
                        <li class="tag-editor-tag-category">
                            Tags ({{ post.tags.length }})
                            |
                            <a href="#" v-on:click="settings.displayTags = !settings.displayTags">
                                <span v-if="settings.displayTags">Hide</span>
                                <span v-else>Show</span>
                            </a>
                        </li>
                    </span>
                    <span v-for="entry in postCategoriesAndTags" v-if="settings.displayTags">
                        <li v-if="entry.type == 'tag'" class="tag-editor-tag-item">
                            <a class="tag-editor-tag-item-remove" href="#"
                               :disabled="!editorReady"
                               v-on:click="removeTag(entry)">x</a>
                            <span v-if="addedTags.includes(entry.name)" class="tag-editor-tag-new">+</span>
                            <span v-if="wikiPageNames.has(entry.name)" class="tag-editor-tag-wiki">w</span>
                            <a :class="['tag-editor-type-' + entry.category]"
                               href="#"
                               v-on:mouseover="showWikiSnippet(entry.name, null, $event)"
                               v-on:mouseleave="hideSnippet()"
                               v-on:click="showWikiDialog(entry.name)">
                                <span v-for="segment in entry.nameSegments" :class="segment[1] ? ['tag-editor-tag-match'] : []">{{ segment[0] }}</span>
                            </a>
                            <span class="tag-editor-tag-count" v-if="post.tagUseCounts[entry.name]">{{ post.tagUseCounts[entry.name] }}</span>
                        </li>
                        <li v-else-if="entry.type == 'metaTag'" class="tag-editor-tag-item">
                            <a class="tag-editor-tag-item-remove" href="#"
                               :disabled="!editorReady"
                               v-on:click="removeTag(entry)">x</a>
                            <span v-if="wikiPageNames.has(entry.name)" class="tag-editor-tag-wiki">w</span>
                            <span class="tag-editor-tag-meta">M</span>
                            <a class="tag-editor-type-meta" href="#"
                               v-on:mouseover="showWikiSnippet(entry.name, null, $event)"
                               v-on:mouseleave="hideSnippet()"
                               v-on:click="showWikiDialog(entry.name)">
                                <span v-for="segment in entry.nameSegments" :class="segment[1] ? ['tag-editor-tag-match'] : []">{{ segment[0] }}</span>
                            </a>
                        </li>
                        <li class="tag-editor-tag-category" v-else-if="entry.type == 'category'">
                            {{ entry.name }}
                        </li>
                    </span>
                    <!-- Questions -->
                    <span v-if="questions.length > 0">
                        <li class="tag-editor-tag-category">
                            Questions ({{ questions.length + remainingQuestionCount }})
                            |
                            <a href="#" v-on:click="settings.displayQuestions = !settings.displayQuestions">
                                <span v-if="settings.displayQuestions">Hide</span>
                                <span v-else>Show</span>
                            </a>
                        </li>
                    </span>
                    <template v-for="question in questions" v-if="!completedQuestions.includes(question.name) && settings.displayQuestions">
                        <li class="tag-editor-tag-item">
                            <a href="#"
                               v-on:click="completeQuestion(question.name)">
                                <span>&#x2713;</span>
                            </a>
                            <a href="#"
                               v-on:click="toggleQuestion(question.name); hideSnippet()">
                                <span v-if="openedQuestions.includes(question.name)">&#x25bc;</span>
                                <span v-else>&#x25b6;</span>
                                <span class="tag-editor-question-category">{{ question.name }}</span>
                                <span :class="['tag-editor-question-' + (question.useCount > 0 ? 'answered' : 'unanswered')]">{{ question.useCount }}</span>
                            </a>
                        </li>
                        <li v-for="tag in question.tags" class="tag-editor-tag-item" v-if="openedQuestions.includes(question.name)">
                            <a class="tag-editor-tag-item-remove" href="#"
                               :disabled="!editorReady"
                               v-if="hasTag(tag.name)"
                               v-on:click="removeTag(tag)">-</a>
                            <a class="tag-editor-tag-item-add" href="#"
                               :disabled="!editorReady"
                               v-if="!hasTag(tag.name)"
                               v-on:click="addTag(tag); hideSnippet()">+</a>
                            <span v-if="wikiPageNames.has(tag.name)" class="tag-editor-tag-wiki">w</span>
                            <span v-if="tag.type == 'metaTag'" class="tag-editor-tag-meta">M</span>
                            <span v-if="tag.reason" class="tag-editor-tag-automatic">A</span>
                            <a href="#"
                               v-on:mouseover="showWikiSnippet(tag.name, tag.reason, $event)"
                               v-on:mouseleave="hideSnippet()"
                               v-on:click="showWikiDialog(tag.name)">
                                <span>{{ tag.name }}</span>
                            </a>
                        </li>
                    </template>
                    <span v-if="remainingQuestionCount > 0 && settings.displayQuestions">
                        <li class="tag-editor-tag-category">
                            {{ remainingQuestionCount }} more questions remaining
                        </li>
                    </span>
                    <!-- Completed questions -->
                    <span v-if="completedQuestions.length > 0">
                        <li class="tag-editor-tag-category">
                            Completed questions ({{ completedQuestions.length }})
                            |
                            <a href="#" v-on:click="displayCompletedQuestions = !displayCompletedQuestions">
                                <span v-if="displayCompletedQuestions">Hide</span>
                                <span v-else>Show</span>
                            </a>
                        </li>
                    </span>
                    <span v-for="questionName in completedQuestions" v-if="displayCompletedQuestions">
                        <a class="tag-editor-tag-item-add" href="#"
                           :disabled="!editorReady"
                           v-on:click="restoreCompletedQuestion(questionName)">+</a>
                        <span>{{ questionName }}</span>
                    </span>
                </ul>
            </div>
            <hr>
            <div class="tag-editor-input">
                <input :disabled="!editorReady" class="tag-editor-tag-input" id="tag_editor_edit">
                <button class="tag-editor-tag-input"
                        :disabled="!editorReady || addedTags.length == 0 && removedTags.length == 0"
                        v-on:click="openSaveDialog()">Save changes</button>
                <span>
                    <b style="color: green">{{ addedTags.length }}</b> tag(s) added,
                    <b style="color: red">{{ removedTags.length }}</b> removed
                </span>
                <br>
                <span class="tag-editor-edit-message"
                      v-if="editMessage"
                      v-html="editMessage">{{ editMessage }}</span>
                <span v-if="remainingTasks.length > 0">
                    <p>
                        The tag editor is still loading. Following tasks are under way:
                    </p>
                    <ul>
                        <li v-if="remainingTasks.includes('loadPostData')">
                            Loading post data...
                        </li>
                        <li v-if="remainingTasks.includes('loadTagSnapshot')">
                            Loading list of all tags...
                        </li>
                        <li v-if="remainingTasks.includes('saveTagSnapshot')">
                            Saving list of tags...
                        </li>
                        <li v-if="remainingTasks.includes('loadWikiSnapshot')">
                            Loading snapshot of wiki articles...
                        </li>
                        <li v-if="remainingTasks.includes('saveWikiSnapshot')">
                            Saving snapshot of wiki articles...
                        </li>
                        <li v-if="remainingTasks.includes('saveTags')">
                            Saving tag changes...
                        </li>
                    </ul>
                </span>
            </div>
        </div>
        <div class="tag-editor-right-column">
            <div id="tag_editor_post" class="tag-editor-post" v-if="postHtml" v-html="postHtml">
            </div>
            <div class="tag-editor-post-footer">
                <h3><a :href="post.downloadUrl" target="_blank">Download</a></h3>
            </div>
            <div id="tag_editor_snippet" v-if="currentSnippet" class="tag-editor-snippet">
                <span v-if="currentSnippet.type == 'wiki'">
                    <h1><a :href="'https://e621.net/wiki/show/' + currentSnippet.name" target="_blank">{{ currentSnippet.name }}</a></h1>
                    <span v-html="currentSnippet.reason"></span>
                    <pre>{{ currentSnippet.page }}</pre>
                </span>
                <span v-else-if="currentSnippet.type == 'suggestion'">
                    <h1><a :href="'https://e621.net/wiki/show/' + currentSnippet.name" target="_blank">{{ currentSnippet.name }}</a></h1>
                    <h3>Reason</h3>
                    <span v-html="currentSnippet.reason"></span>
                    <pre v-if="currentSnippet.page">{{ currentSnippet.page }}</pre>
                </span>
            </div>
        </div>
    </div>
    <!-- Settings -->
    <div style="display: none" class="tag-editor-dialog" id="tag_editor_settings_dialog" title="Settings">
        <h5>Settings</h5>
        <label>Maximum questions:</label>
        <br>
        <input v-on:change="updateChecklist()" type="number" min="1" max="200" v-model.number="settings.maximumQuestionCount">
        <p>Maximum amount of questions shown at once.</p>
    </div>
    <!-- Help -->
    <div style="display: none" class="tag-editor-dialog" id="tag_editor_help_dialog" title="Help">
        <h5>Tagging guidelines</h5>
        <p><b>If you're new to tagging</b>, make sure to read
            <a target="_blank" href="https://e621.net/wiki/show?title=howto%3Atag">the guide on tagging</a>.
        </p>
        <h5>Commands</h5>
        <p>Tags can be added and removed by typing on the command bar and using Enter to perform a command.
           Commands you can enter include:
        </p>
        <ul>
            <li><code>male</code> - Add the tag <i>male</i></li>
            <li><code>+rare_tag</code> - Add the tag <i>rare_tag</i> even if the tag editor doesn't recognize it.</li>
            <li><code>-female</code> - Remove the tag <i>female</i></li>
            <li><code>/as</code> or <code>/addsuggestions</code> - Add all suggestions</li>
            <li><code>/s</code> or <code>/save</code> - Submit your changes</li>
            <li><code>/q</code> or <code>/quit</code> - Close tag editor. Unsaved changes won't be removed unless you leave the page.</li>
        </ul>
        <h5>Saving your changes</h5>
        <p>Your edits <b>won't</b> be automatically submitted. To save your changes press the "Save changes" button or use the <code>/save</code> command.
           This opens a save dialog allowing you to add an optional comment about your changes.
        </p>
        <p>Local tag changes persist until you leave or reload the page.
       </p>
       <h5>Permissions</h5>
       <p>This tag editor will use your web browser's storage functions to store tag and wiki snapshots
          to ensure faster operation and reduced memory usage.
          If the extension (Greasemonkey/Tampermonkey)is not allowed to store long-term data, the tag editor will continue to work but will consume a lot more memory.
          This may happen if you're browsing in incognito mode and/or you haven't given the extension permission to store data.
       </p>
    </div>
    <!-- About -->
    <div style="display: none" class="tag-editor-dialog" id="tag_editor_about_dialog" title="About">
        <p>
            <a target="_blank" href="https://gitlab.com/RackTracker/e621-tag-editor-plus">e621 Tag Editor Plus</a> was created by
            <a target="_blank" href="https://e621.net/user/show/154756">RackTracker</a> to make tagging posts faster, easier and more fun to do.
            I hope you find this to be the case!
        </p>
        <p>
            If you want to provide feedback regarding this tool, please do so at
            <a target="_blank" href="https://e621.net/forum/show/265771">this e621 thread</a>.
        </p>
        <h5>Donations</h5>
        <p>
            If you found this tag editor useful and want to support further development, feel free to send a donation.
            Thanks!
        </p>
        <ul>
            <li>Bitcoin: <code>1HN8oqemzQfTdix9f5jFUM628MF2fAZgLz</code></li>
        </ul>
        <h5>Libraries</h5>
        <p>
            Following libraries were used to develop e621 Tag Editor Plus
        </p>
        <ul>
            <li><a href="https://vuejs.org">Vue.js</a></li>
            <li><a href="https://jqueryui.com">jQuery UI</a></li>
            <li><a href="https://fusejs.io">Fuse.js</a></li>
            <li><a href="https://dexie.org">Dexie.js</a></li>
            <li><a href="https://anseki.github.io/jquery-ui-autocomplete-scroll/">Scrollable jQuery UI Autocomplete</a></li>
            <li><a href="https://github.com/nodeca/pako">Pako</a></li>
        </ul>
    </div>
    <div style="display: none" class="tag-editor-dialog" id="tag_editor_save_dialog" title="Save changes?">
        <p v-if="addedTags.length > 0">
            Following tags will be <b style="color: green">added</b>:
        </p>
        <ul class="tag-editor-save-tag-list">
            <li v-for="tag in addedTags">{{ tag }}</li>
        </ul>
        <p v-if="removedTags.length > 0">
            Following tags will be <b style="color: red">removed</b>:
        </p>
        <ul class="tag-editor-save-tag-list">
            <li v-for="tag in removedTags">{{ tag }}</li>
        </ul>
        <label>Edit reason (optional)</label>
        <br>
        <input v-model="saveForm.editReason" type="text" name="tag_editor_edit_reason" id="tag_editor_edit_reason" class="text ui-widget-content ui-corner-all"></input>
    </div>
    <!-- Wiki page dialog -->
    <wiki-dialog v-for="dialog in openWikiDialogs" :key="dialog.name" v-bind:wiki-page="dialog"></wiki-dialog>
</div>
